@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap');

body {
  font-family: 'Spectral', serif;
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
  padding: auto;
}
.navbar-brand {
  font-family: 'Caveat', cursive;
}

/* Jumbotron */

.jumbotron {
  padding-top: 5rem;
  background-color: #d9d7dd;
}

/* About */
.about {
  background-color: #e0eaee;
}

/* education */
.education {
  background-color: #e6fdff;
}

/* skill */
.skill {
  background-color: #e0eaee;
}

.deskripsi-skill p {
  font-weight: bold;
  text-align: left;
}
.progress {
  height: 7px;
  width: 250px;
}

/* contact */
.contact {
  background-color: #dbf9f4;
}

form {
  width: 400px;
  background-color: #f3f4f5;
  margin-top: 30px;
  box-shadow: 1px 1px 3px gray;
  padding: 20px 40px;
  border-radius: 20px;
  /* text-align: left; */
}

.contact button {
  border-radius: 35px;
  padding: 3px 30px;
}

/* footer */
.container-footer {
  background-color: #88778a;
  display: flex;
  padding: 15px;
}

.sosmed a {
  color: #dbf9f4;
  text-decoration: none;
  font-size: 14px;
}
/* utility */

.judul {
  font-family: 'Fredoka One', cursive;
  font-size: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 20px;
  justify-content: center;
  text-align: center;
}

.photo {
  width: 300px;
  padding: 10px;
}

/* responsive */
@media (min-width: 768px) {
  .navbar {
    padding: 10px 90px;
  }
  .navbar a {
    font-size: 18px;
  }

  .container {
    flex-wrap: nowrap;
  }

  .deskripsi p {
    font-size: 20px;
  }
  .photo {
    width: 700px;
    padding: 10px 50px;
  }

  .photo-education {
    order: 2;
  }

  .deskripsi-education {
    order: 1;
    text-align: right;
    padding: 20px;
    font-size: 32px;
  }

  .deskripsi-about,
  .deskripsi-skill {
    text-align: left;
    padding: 20px;
  }

  form {
    width: 600px;
    margin-top: 30px;
    box-shadow: 1px 1px 3px gray;
    padding: 40px 80px;
    border-radius: 20px;
    /* text-align: left; */
    font-size: 22px;
  }

  .contact button {
    border-radius: 35px;
    padding: 3px 30px;
    font-size: 22px;
  }

  .sosmed a {
    font-size: 18px;
  }
}
